body {
    margin: 0px;
    background-color: rgb(245, 238, 229);
}
header, footer {
    text-align: center;
    text-shadow: 5px 5px 25px rgb(0, 132, 255);
    margin: 0px;
    padding: 1%;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    background-color: black;
    color: white;
}
footer {
    position: fixed;
    bottom: 0;
}
#center-box {
    width: 50%;
    margin: 20px;
    padding: 2%;
    background-color: white;
    border-radius: 50px;
    box-shadow:  0px 0px 20px rgb(105, 105, 70);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    text-align: center;
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#encode, #decode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.click-option {
    background-color: rgb(76, 160, 216);
    padding: 5%;
    padding-left: 50%;
    padding-right: 50%;
    border-radius: 50px;
}

a {
    text-decoration: none;
    display: flex;
    justify-self: center;
}
.click-option:hover {
    transition: 0.5s ease;
    transform: scale(1.1);
    background-color: rgb(0, 132, 255);
    box-shadow: 0px 0px 20px rgb(0, 132, 255); 
    
}
button {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}